.cta {
    /* background-color: #0080ff; */
    padding: 2rem;
    text-align: center;
    color: #fff;
  }
  
  .cta h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    z-index: 2;
  }
  
  .cta p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .button {
    display: inline-block;
    background-color: #fff;
    color: #0080ff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    background-color: #fff;
    color: #0080ff;
    box-shadow: 0 0 10px rgba(0, 128, 255, 0.3);
  }
  